<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark scrolling-navbar">

    <!-- Brand -->
    <a class="navbar-brand" href="#">{{ title }}</a>
    <!--/.Brand -->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--/.Collapse -->

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent-3">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" href="#">All Courses
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Favourite Courses</a>
        </li>
      </ul>
      <!--/.Left -->

      <!-- Right -->
      <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isLoggedUser; else elseBlock">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
            <i class="far fa-user" style="color:white"></i>Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item waves-effect waves-light" href="#">My account</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Log out</a>
          </div>
        </li>
      </ul>
      <ng-template #elseBlock>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#" role="button">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Login</a>
        </li>
      </ul>
      </ng-template>
      <!--/.Right -->

    </div>
    <!--/.Links -->
</nav>
<!--/.Navbar -->
