<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="card-img-top" [src]="course.imageUrl" [alt]="course.title">
    </div>
    <div class="flip-card-back">
      <h5 class="card-title" type="button" (click)="navigateToView()">{{course.title}}</h5>
      <p class="card-text multiline-ellipsis">{{course.description | format: 300 }}</p>

      <div class="row justify-content-between">
        <app-favourite-button *ngIf="favourite != undefined" [selected]="favourite" (selectedChange)="onFavouriteButtonClicked($event)"></app-favourite-button>
        <i class="fa fa-trash btn btn-outline-dark ml-2" type="button" aria-hidden="true" (click)="onDeleteClick()"></i>
      </div>
    </div>
  </div>
</div>
