<div class="row">
  <div class="col-md-12 justify-content-sm-center">
    <img src="{{course.imageUrl}}">
  </div>
  <div class="col-md-12">
    <h5 class="title">{{course.title}}
    <span *ngIf="isCurrentUserAdmin" class="fa fa-pencil" type="button" (click)="openFormModal()" ngbTooltip="Edit Course"></span>
    </h5>
  </div>
  <div class="col-md-9"><b>Date Published:</b>
      {{course.datePublished | date}}
  </div>
  <div class="col-md-3">
    <div><b>Rating:</b>
      <ngb-rating class="rating-list" max="6" readonly="true"
                  [rate]="(course.ratingsCount > 0 ? course.ratingsSum/course.ratingsCount : 0)"></ngb-rating>
    </div>
  </div>
  <div class="col-md-12 desc">
    <div>{{course.description}}</div>
  </div>
  <div class="col-md-6">
    <b>Rate:</b>
    <ngb-rating class="rating-list" [formControl]="ctrl" max="6" (click)="onRateChanged()"></ngb-rating>
    <div></div>
  </div>
</div>
