<div class="login-form justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <header class="head-form">
        <h2>Sign Up</h2>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p *ngIf="errorMessage" class="text-danger text-center">{{errorMessage}}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- Start Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!--First Name-->
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <input type="text"
                 class="form-control"
                 id="firstName"
                 placeholder="John"
                 formControlName="firstName">
        </div>
        <app-field-error-message [control]="form.get('firstName')"></app-field-error-message>
      </div>

      <!--Last Name-->
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-user"></span>
            </span>
          </div>
          <input type="text"
                 class="form-control"
                 id="lastName"
                 placeholder="Doe"
                 formControlName="lastName">
        </div>
        <app-field-error-message [control]="form.get('lastName')"></app-field-error-message>
      </div>

      <!--Email-->
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-envelope"></span>
            </span>
          </div>
          <input type="email"
                 class="form-control"
                 id="email"
                 placeholder="john.doe@gmail.com"
                 formControlName="email">
        </div>
        <app-field-error-message [control]="form.get('email')"></app-field-error-message>
      </div>

      <!--   Password -->
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-key"></span>
              </span>
          </div>
          <!--   Password Input-->
          <input [type]="passFieldTextType ? 'text' : 'password'"
                 class="form-control"
                 id="password"
                 placeholder="Password"
                 formControlName="password">

          <!--      Show/hide password  -->
          <div class="input-group-append">
              <span class="input-group-text">
                 <span aria-hidden="true" type="button" id="eye"
                       class="fa"
                       [ngClass]="{
                          'fa-eye-slash': !passFieldTextType,
                          'fa-eye': passFieldTextType
                        }"
                       (click)="togglePass()"></span>
              </span>
          </div>
        </div>
        <app-field-error-message [control]="form.get('password')"></app-field-error-message>
      </div>

      <!--  Confirm Password -->
      <div class="col-lg-12 col-md-8 col-sm-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-key"></span>
              </span>
          </div>
          <!--   Password Input-->
          <input [type]="confirmPassFieldTextType ? 'text' : 'password'"
                 class="form-control"
                 id="confirmPassword"
                 placeholder="Confirm Password"
                 formControlName="password">

          <!--      Show/hide password  -->
          <div class="input-group-append">
              <span class="input-group-text">
                 <span aria-hidden="true" type="button" id="eye-confirm"
                       class="fa"
                       [ngClass]="{
                          'fa-eye-slash': !confirmPassFieldTextType,
                          'fa-eye': confirmPassFieldTextType
                        }"
                       (click)="toggleConfirmPass()"></span>
              </span>
          </div>
        </div>
        <app-field-error-message [control]="form.get('confirmPassword')"></app-field-error-message>
      </div>

      <!--        buttons -->
      <div class="row">
        <button type="submit" class="btn log-in">Sign Up</button>
      </div>
    </form>
    <!-- End Form -->
  </div>
</div>
