.close{
  border: 1px solid #f1f1f1;
}
.my-modal{
  width: 100%;
}

#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  color: white;
}

.modal-title {
  font-size: 22px;
  color: black;
}
