<div class="modal" id="centralModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">{{course.id ? 'Update' : 'Add'}} course</h4>
          <button type="button" class="close fa fa-close" aria-label="Close" tabindex="-1"
                  (click)="activeModal.dismiss('Cross click')">
          </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

          <div class="form-group focus">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   placeholder="Enter title..."
                   formControlName="title">

            <app-field-error-message [control]="formGroup.get('title')"></app-field-error-message>

          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="textarea"
                      rows="10"
                      class="form-control"
                      id="description"
                      placeholder="Enter description..."
                      formControlName="description"></textarea>

            <app-field-error-message [control]="formGroup.get('description')"></app-field-error-message>
          </div>

          <div class="form-group">
            <label for="datePublished">Published Date</label>
            <input type="date"
                   class="form-control"
                   id="datePublished"
                   placeholder="Choose date"
                   formControlName="datePublished">
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <textarea type="text"
                      rows="2"
                      class="form-control"
                      id="image"
                      placeholder="Enter image url..."
                      formControlName="imageUrl"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer btn-group btn-group-lg btn-group-primary" role="group"
           aria-label="group button">
        <button id="modal-close-button" type="button" class="btn" data-dismiss="modal"
                (click)="activeModal.dismiss('Close clicked')">
          Close
        </button>
        <button id="modal-action-button" type="submit"
                class="btn" (click)="onSubmit()">Save
        </button>
      </div>
    </div>
  </div>
</div>
