<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td >{{user.email}}</td>
    <td *ngIf="!isEditable">
      <i class="fa fa-pencil btn btn-outline-primary ml-2" type="button" aria-hidden="true" (click)="this.isEditable = true"></i>
      <i class="fa fa-ban btn btn-outline-danger ml-2" type="button" aria-hidden="true" (click)="onBlockClick(user.id)" disabled="[user.isBlocked]"></i>
      <i class="fa fa-trash btn btn-outline-dark ml-2" type="button" aria-hidden="true" (click)="onDeleteClick(user.id)"></i>
    </td>
    <td *ngIf="isEditable">
      <i class="fa fa-check-square-o btn btn-outline-primary ml-2" type="submit" aria-hidden="true" (click)="onDeleteClick(user.id)"></i>
      <i class="fa fa-close btn btn-outline-dark ml-2" type="button" aria-hidden="true" (click)="this.isEditable = false"></i>
    </td>
  </tr>
  </tbody>
</table>
